<%
indexMinute.forEach(function (current,index) {
console.log('nitin',current);
%>
<tr>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td><%=current.strikeprice%></td>
    <td><%=current.bid_qty%></td>
    <td><%=current.bid_price%></td>
    <td><%=current.ask_price%></td>
    <td><%=current.askqty%></td>



    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
</tr>
<%});%>
